.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.dCard{
    margin: auto;
    border: solid 1px black;
    width: 400px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
}